.navegacion li{
    display: inline;
    width: 100px;
    padding: 10px;
    border: solid bisque 2px;
}

.Deportes li{
    display: inline;
    width: 100px;
    padding: 10px;
    border: solid bisque 2px;
}

.Historia li{
    display: inline;
    width: 100px;
    padding: 10px;
    border: solid bisque 2px;
}

.Juegos li{
    display: inline;
    width: 100px;
    padding: 10px;
    border: solid bisque 2px;
}

.Sedes li{
    display: inline;
    width: 100px;
    padding: 10px;
    border: solid bisque 2px;
}

















